.list-all-product
{
    width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  border: 1px solid #c3c3c3; 
  background-color: #CFEAE4;
  

}
@media screen and (max-width: 800px)
{
    .list-all-product{
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
    border: 1px solid #c3c3c3; ;
        
    }
}

#card-product{
    padding: 10px;
    margin: 10px;
    margin-left: 15px;
    width: 230px;
    text-align: center;
    box-shadow: 5px 4px 8px #888888;
   
}

@media(max-width: 800px)
{
    #card-product{
       
        flex-direction: column;
        width: 93%;
       
    }
}

#btn-buy{
   
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    border-radius: 10px;
    color: whitesmoke;
}
