.bill-title
{
    text-align: center;
    color: #2c7873;
  
}
.bill-information
{
  
    color: #2c7873;
  
}
.card-title{
    margin-top: 30px;
}
#order-time
{
    float: right;
    margin-right: 7px;
}
.infor{
    margin-left: 20px;
}
.hr-line
{
    border: 1px solid #2c7873;
    border-radius: 5px;
    width: 95%;
    margin: auto !important;
}
.bill-product{
    text-align: center;
}
.total-bill
{
    float: right;
}