#breadcrumb
{
    margin-top: 2px;
   
    padding: 10px;
    border-bottom: 2px solid  #7abaa1 !important;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
}
.order-card{
    background: #7abaa1 !important;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.order-header{

   color: #7abaa1;
}


    
